/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form-el {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 36px;
}
.input-search {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
}
.input-search:hover {
  border: 1px solid #000;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}
.input-search::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
}
.btn-search {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}
.btn-search:hover {
  background-color: #6c8cff;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: relative;
}
.img-list li {
  margin: 10px;
}
.list-el {
  border: 1px solid #808080;
  border-radius: 5px;
}
.img-list img {
  width: 200px;
  height: 130px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;
  text-align: center;
  padding: 4px 15px;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 6px;
  letter-spacing: 0.04em;
  line-height: 12px;
}
.loader {
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 5s linear infinite;
  position: absolute;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
